

/* =========== Mobile Navigation Below 833px (Mobile Devices) =========== */
@media screen and (max-width: 52em) {
  .container{
    padding: 4.8rem 6.4rem;
  }

  .margin-bottom-lg {
    margin-bottom: 4.8rem !important;
}

  /* show mobile navigation Buttons*/
  .navbar__menu-btns{
    display: block;
    z-index: 9999;
  }

  .navbar__menu{
    align-items: center;
    background-color: #e7f6fd;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    height: 100vh;
    right: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    transition: all 500ms ease-in;
    transform: translateX(100%);
    visibility: hidden;
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    z-index: 9998;
  }
  .menu__open .navbar__menu{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .menu__open .navbar__menu-times{
    display: block;
  }

  .menu__open .navbar__menu-bars{
    display: none;
  }

.navbar__menu-list{
    flex-direction: column;
    gap: 4.8rem;
    justify-content: center;
  }

  .navbar__link:link,
  .navbar__link:visited{
    font-size: 2.4rem;
  }
}


/* =========== /* BELOW 1344px (Smaller desktops) =========== */
@media screen and (max-width: 84em) {
  .hero__container {
    max-width: 120rem;
  }

  .hero__title{
    font-size: 4.4rem;
  }
}

@media screen and (max-width: 75.5em){
  .footer__intro {
    width: 90%;
  }
}