/* =========== GOOGLE FONTS =========== */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* =========== VARIABLES CSS ===========*/
:root {
  --header-height: 9.6rem;

  /* =========== COLORS =========== */
  --body-color: hsl(0, 0%, 99%);
  --border-color: hsl(0, 0%, 94%);
  --button-color: hsl(0, 0%, 17%);
  --container-color: #fff;
  --container-color-alt: #fdf2e9;
  --hover-color: #0d95d2;
  --primary-color: #0ea5e9;
  --text-color: #555;
  --text-color-light: #777;
  --title-color: #333;

  /* =========== FONT AND TYPOGRAPHY =========== */
  --body-font: 'Rubik', sans-serif;
}

/* =========== RESETS & BASE =========== */

html {
  box-sizing: border-box;
  /* Percentage of user's browsers font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(14, 164, 233, 0.5);
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: inherit;
  font-weight: var(--font-medium);
}

body {
  background: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  overflow-x: hidden;
  /* FOR DARK MODE ANIMATION */
  transition: 400ms;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
  letter-spacing: -0.5;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* =========== REUSABLE CLASSES =========== */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.border-rounded-9 {
  border-radius: 9px;
}

.flex {
  align-items: center;
  display: flex;
}

.grid {
  column-gap: 6.4rem;
  display: grid;
  row-gap: 9.6rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: flex-start;
}

.list__item {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  gap: 1.6rem;
  line-height: 1.6;
  text-align: left;
}

.list__icon {
  color: var(--primary-color);
  width: 1.6rem;
}

.section__subheading {
  color: #0d95d2;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.section__title {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.text__center {
  text-align: center;
}

/* =========== BUTTONS =========== */

.btn,
.btn:link,
.btn:visited {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  transition: all 300ms;
}

.form__btn{
  align-self: end;
  background-color: var(--primary-color);
  border-radius: 9px;
  color: #fff;
  padding: 1.2rem;
}

.form__btn:hover{
  background-color: var(--hover-color);
}

.cta__btn{
  background-color: var(--primary-color);
  border-radius: 9px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
}

.cta__btn:hover{
  background-color: var(--hover-color);
}

.cta__btn.hero__btn,
.cta__btn.navbar__btn,
.cta__btn.popup__btn{
    padding: 1.6rem 3.2rem;
}

/* =========== NAVBAR & HERO =========== */
.header {
  background: linear-gradient(rgba(56, 70, 77, 0.75),
      rgba(56, 70, 77, 0.75)),
    url('../images/hero-bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  /* filter: brightness(60%); */
  width: 100vw;
}

.navbar__container {
  background-color: #e7f6fd;
  justify-content: space-between;
  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  /* background-color: #fff; */
}

.navbar__logo-img {
  /* Logo size = 142*142 px */
  height: 14.2rem;
}

.navbar__menu-list {
  gap: 3.2rem;
}

.navbar__item {
  position: relative;
}

.navbar__item::after {
  background: var(--primary-color);
  bottom: 0;
  content: '';
  height: 2px;
  right: 0;
  position: absolute;
  transform: translateY(1rem);
  transition: 333ms cubic-bezier(0.25, 1, 0.5, 1);
  width: 0%;
}

.navbar__item:hover::after {
  left: 0;
  width: 100%;
}

.navbar__item:last-child:hover::after {
  width: 0%;
}

.navbar__link:link,
.navbar__link:visited {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 300ms;
}

.navbar__link:hover,
.navbar__link:active {
  color: var(--hover-color);
}

.navbar__link.navbar__cta:link,
.navbar__link.navbar__cta:visited {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1.2rem 2.4rem;

}

.navbar__link.navbar__cta:hover,
.navbar__link.navbar__cta:active {
  background-color: var(--hover-color);
}

/* STICKY NAVIGATION */
.sticky .navbar__container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  transition: all 300ms;
}

.sticky .section__hero {
  margin-top: 9.6rem;
}


/* =========== Mobile Navigation =========== */
.navbar__menu-btns {
  background: none;
  display: none;
}

.navbar__menu-icon {
  color: #333;
  font-size: 3.2rem;
}

.fa-times.navbar__menu-times {
  display: none;
}

/* =========== HERO =========== */
.section__hero {
  min-height: 80vh;
  background-color: var(--primary-color);
  background: linear-gradient(-45deg, rgba(231, 246, 253, 0.30), rgba(14, 164, 233, 0.95)), url('../images/hero-bg-img.jpg');
  background-size: cover;
  justify-content: center;
}

.hero__container {
  max-width: 80%;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.hero__content{
  width: 60%;
}

.hero__title {
  color: #e7f6fd;
  font-size: 4.8rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero__intro {
  color: #cfedfb;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  padding-right: 3.2rem;
}

.hero__mantra {
  justify-content: flex-start;
  gap: 3.2rem;
  margin-top: 1.6rem;
}

.hero__mantra-text {
  color: #cfedfb;
  font-size: 2rem;
  margin-top: 3.2rem;
}

.hero__btn{
  font-size: 2rem;
}

.hero__cta-text {
  color: #cfedfb;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}


/* =========== BLOGS =========== */
.section__blog {
  padding: 6.4rem 0;
}

.blogs__container.grid {
  gap: 4.8rem;
}

.blog__content {
  border-radius: 11px;
  position: relative;
  overflow: hidden;
}

.blog__img {
  transform: scale(1.1);
  transition: all 400ms;
}

.blog__content:hover .blog__img {
  opacity: 1.1;
  transform: scale(1);
}

.blog__text {
  /* opacity: 0; */
  align-items: center;
  background-color: #e7f6fd;
  color: #000;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: all 400ms;
  transform: translateY(101%);
  width: 100%;
}

.blog__content:hover .blog__text {
  opacity: 0.9;
  transform: translateY(0);
}

/* =========== ABOUT =========== */
.section__about {
  padding: 3.2rem 0 6.4rem;
}

.about__content {
  padding: 0 2rem;
}

.about__intro {
  font-size: 1.6rem;
}

.about__expertise {
  margin-top: 3.2rem;
}

.expertise__title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.expertise__list {
  margin-top: 1.6rem;
}

.about__img {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.about__blob {
  fill: var(--primary-color);
}

.about__blob-img {
  width: 360px;
}

/* =========== COMMUNITY =========== */
.section__community {
  padding: 4.8rem 0 9.6rem;
}

.community__quote {
  position: relative;
  padding-left: 1.6rem;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 100;
  margin-bottom: 1.6rem;
}

.community__quote:before {
  color: var(--primary-color);
  font-family: inherit;
  font-size: 3.2rem;
}

.community__quote:before {
  content: '\201c';
}

.community__quote cite {
  font-size: 1.2rem;
  text-align: center;
  top: 50%
}

.community__quote cite:before {
  content: ' \2015 '
}

.community__intro {
  font-family: inherit;
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.community__links {
  align-items: center;
  display: flex;
  gap: 3.2rem;
  justify-content: space-around;
}

.social__link {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1rem 1.2rem rgba(14, 164, 233, 0.2);
  border-radius: 50%;
  display: flex;
  height: 64px;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto 2rem;
  transition: all 0.4s;
  width: 64px;
}

.social__icon {
  color: var(--primary-color);
  font-size: 2.4rem;
}

.social__title {
  font-size: 1.6rem;
}

/* =========== COURSE =========== */
.section__course {
  padding: 3.2rem 0 6.4rem;
}

.course__card {
  border-radius: 11px;
  box-shadow: 0 3.2rem 6.4rem rgba(14, 164, 233, 0.075);
  overflow: hidden;
  transition: all 400ms;
}

.course__card:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(14, 164, 233, 0.09);
  transform: translateY(-1.2rem);
}

.course__img {
  position: relative;
}

.course__img::after {
  background-color: 0 3.2rem 6.4rem rgba(14, 164, 233, 0.09);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.course__content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.course__tags {
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.course__tag {
  display: inline-block;
  border-radius: 100px;
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
}

.tag__public {
  background-color: #ffac4f;
}

.tag__personal {
  background-color: #85dd94;
}

.tag__life {
  background-color: #ffd43b;
}

.course__title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.course__attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.course__attribute {
  display: flex;
  font-size: 1.8rem;
  gap: 1.6rem;
}

.course__icon {
  color: var(--primary-color);
  height: 2.4rem;
  width: 2.4rem;
}

/* =========== TESTIMONIAL =========== */
.section__testimonial {
  padding: 3.2rem 0 6.4rem;
  text-align: center;
}

.testimonial__carousel {
  align-items: center;
  display: flex;
  justify-content: center;
}

.testimonial__card {
  border: 0;
  background: #fff;
  /* border: 2px solid var(--primary-color); */
  box-shadow: 0 0.8rem 3rem -0.7rem #c9dff0;
  margin: 0 2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 2rem;
}

.testimonial__img {
  border-radius: 50%;
  height: 10rem;
  box-shadow: 0 0.8rem 2rem -0.4rem #95abbb;
  margin: 1.6rem auto 0;
  max-width: 10rem;
  width: 10rem;
}

.testimonial__stage-outer {
  padding: 3.2rem 0;
}

.testimonial__stage {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0s ease 0s;
  width: 180rem;
  transform: translateX(23rem);
}

.testimonial__item {
  width: 45rem;
}

.testimonial__nav {
  display: none;
}

.testimonial__dots {
  text-align: center;
}

.testimonial__dots button {
  background: none;
}

.testimonial__dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}

.testimonial__dots .active {
  box-shadow: none;
}

.testimonial__dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}


.active {
  opacity: 0.5;
  transition: all 0.3s;
}

.center {
  opacity: 1;
}

.active .testimonial__img {
  max-width: 100%;
  height: 120px;
  width: 120px;
}

.testimonial__img {
  margin-bottom: 2.4rem;
}

.testimonial__message {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.testimonial__name {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.testimonial__name>span {
  font-size: 1.2rem;
  font-weight: normal;
}

.testimonial__rating > i{
  color: var(--primary-color);
  font-size: 1.2rem;
}

/* =========== NEWSLETTER AND CTA =========== */
.section__newsletter{
  background-color: #e7f6fd;
  padding: 6.4rem 0 6.4rem;
}

.form__container{
  margin: 0 auto;
  width: 70%;
  padding: 3.2rem 8rem;
}

.newsletter__intro{
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.newsletter__cta{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.newsletter__cta label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.newsletter__cta input,
.newsletter__cta select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(231, 246, 253, 0.158);
  box-shadow: 0 1px 2px rgba(14, 164, 233, 0.1);
}

.newsletter__cta input::placeholder {
  color: #aaa;
}

.newsletter__cta select{
  color: #aaa;
}

.newsletter__cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(14, 164, 233, 0.5);
}

/* =========== FOOTER =========== */
.footer {
  padding: 3.2rem 0 0;
  /* border-top: 1px solid #eee; */
}

.footer__grid {
  border-bottom: 2px solid #ddd;
  grid-template-columns: 40fr 30fr 30fr;
  justify-items: center;
  padding-bottom: 3.2rem;
}

.footer__logo-col{
  overflow: hidden;
}

.footer__logo {
  display: block;
  transform: translateY(-30%);
}

.footer__logo-img{
  height: 12rem;
}

.footer__intro{
  font-size: 1.8rem;
  margin-bottom: -2.4rem;
  transform: translateY(-100%);
  width: 60%;
}

.social__links {
  display: flex;
  gap: 3.2rem;
}

.social__icon {
  color: var(--primary-color);
  font-size: 2.4rem;
}

.footer__social-link:hover .social__icon{
  color: #0d95d2;
}

.footer__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer__link:link,
.footer__link:visited {
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer__link:hover,
.footer__link:active {
  color: #555;
}

.footer__copy-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  padding: 3.2rem 0;
}
.footer__copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
  text-align: center;
}

/* =========== POPUP =========== */

.hidden {
  display: none;
}

.popup{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  transition: all 300ms ease-in;
}

.popup__content{
  background-color: #e7f6fd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 999999;
  backdrop-filter: blur(3px);
}

.popup__close{
  position: absolute;
  top: 0.8rem;
  right: 2.4rem;
  font-size: 4.4rem;
  font-weight: normal;
  color: #aaa;
  cursor: pointer;
  border: none;
  background: none;
}

.popup__close:hover{
  color: var(--primary-color);
}

.popup__close:focus{
  outline: none;
  box-shadow: none;
}

.popup__title{
  color: #06425d;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.popup__text{
  color: #06425d;
  color: #06425d;
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.popup__link:link,
.popup__link:visited {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  width: 100%;
  text-align: center;
  transition: all 300ms;
}

.popup__link:hover,
.popup__link:active {
  background-color: var(--hover-color);
}
